body {
	background-color: #20b2aa;
h1 {
	text-align: center;
	color: white;
	margin-bottom: 20px;
	}
h2 {
	color: white;
	text-align: center;
	}
}


.search-bar{
	width: 50%;
	background-color: lightblue;
	text-align: center;
}

#clicky-button {
	margin-top: 15px;
}

.outputDiv {
	text-align: center;
}

span {
	font-size: 1.8em;
	margin: auto;
	color: white;
}

.spacing {
	margin-left: 3px;
	margin-right: 3px;
}



